<div class="footer">
<div class="row" *ngIf="mostrarMenu">
  <div class="col s6">
    <h5 class="white-text">Afirma Net</h5>
    <p class="grey-text text-lighten-4">Tecnologia em suas mãos</p>
  </div>
  <div class="right">
    <h5 class="white-text">Rede Sociais</h5>
    <a class="grey-text text-lighten-3" href="#!"><img srcset="./app/img/facebook.png" alt="facebook" /></a>
    <a class="grey-text text-lighten-3" href="#!"><img srcset="./app/img/g++.png" alt="G++" /></a>
    <a class="grey-text text-lighten-3" href="#!"><img srcset="./app/img/twitter.png" alt="twitter" /></a>
    <a class="grey-text text-lighten-3" href="#!"><img srcset="./app/img/feed.png" alt="feed" /></a>
  </div>
</div>  
<div class="row grey darken-4">
  <div class="col s6">
    <p class="grey-text text-lighten-4">© 2014  - Afirma Net</p>
  </div>
  <div class="right">
    <a class="grey-text text-lighten-4 right">afirmanet.com.br</a>
  </div>
</div>
</div>