<form id="formEndereco">
    <div class="row justify-content-md-center">
      <div class="card w-100">
        <div class="card-header">
          <div class="row">
            <i class="medium material-icons">business</i> 
            <h4>Consultar Empresas</h4>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="form-group w-40">
                <label for="slcMunicipio">Sistema:</label>
                <select class="form-control" id="slcMunicipio">
                  <option value="1" selected>catolicos</option>
                  <option value="2">foodstuffs</option>
                  <option value="3">accounting</option>
                </select>
            </div>
            <div class="input-field col s8">
              <input id="txtNome" type="text" class="validate">
              <label class="active" for="txtLograd">Nome da Empresa:</label>
            </div>
          </div>


          <div class="row">
            <div class="col s4">      
              <div class="right">
                <button class="btn btn-default light-blue darken-4"><i class="material-icons">search</i> Consultar</button>
                <button class="btn light-blue darken-4"><i class="material-icons">open_in_new</i> Incluir</button>                
                <button class="btn light-blue darken-4"><i class="material-icons">clear_all</i> Limpar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
