<form id="formHome">
  <div class="row justify-content-md-center">  
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <i class="medium material-icons">hearing</i> 
            <h4>Serviços/Produtos</h4>
          </div>
        </div>
        <div class="card-block">
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col-sm-6"> 
      <div class="card">
        <div class="card-header">
          <div class="row">
            <i class="medium material-icons">trending_up</i> 
            <h4>Missão</h4>
          </div>        
        </div>
        <div class="card-block">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <i class="medium material-icons">visibility</i> 
            <h4>Visão</h4>
          </div>        
        </div>
        <div class="card-block">
        </div>
      </div>
    </div>    
  </div>    
</form>  